STAGE=dev
POSTGRES_PASSWORD=
POSTGRES_DB=sgcdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
PGADMIN_DEFAULT_EMAIL=sistemas@amazonastrading.com
PGADMIN_DEFAULT_PASSWORD=
PORT=3000
HOST_API=http://localhost:3000/api
JWT_SECRET=
